#searchbar{
    /* border: 1px solid red; */
}

#searchbar > input{
    height: 30px;
    width: 60%;
    outline: none;
}

#searchbar > button{
    height: 30px;
    width: 14%;
}

.mapouter{
    position:relative;
    text-align:right;
    height:500px;
    width:600px;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:500px;
    width:600px;
}

#container{
    /* border: 1px solid red; */
    width: 30%;
    height: 400px;
}

#container + div{
    /* border: 1px solid teal; */
    margin: auto;
    margin-bottom: 100px;
}

#searchbar+div{
    display: flex;
    margin-top: 100px;
}

p{
    font-size: 20px;
}

h2{
    font-size: 30px;
}